BasedOnStyle: LLVM
AlignEscapedNewlines: Left
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: false
BreakConstructorInitializers: BeforeComma
ContinuationIndentWidth: 2
IndentCaseLabels: true
SortIncludes: false
ColumnLimit: 100
