BasedOnStyle: LLVM
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: Left
ContinuationIndentWidth: 2
IndentCaseLabels: true
SortIncludes: false
ColumnLimit: 100
